* {box-sizing: border-box;}
html, body {
    margin: 0;
    padding: 0;
}
body::after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.6;
    position: absolute;
    background-image: url('../img/img1.png');
    background-position: top 1% right 40px;
}
.navbar {
    color: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
}
.navbar-brand {
    margin-left: 3%;
    font: 600 30px "Open Sans", sans-serif;
}

