:root {
    scroll-behavior: smooth;
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

.navbar {
    color: #000000;
    box-shadow: 0 10px 15px #00000099;
}

.navbar-brand {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0;
    color: #000000;
    font-family: "Nunito", sans-serif;

}

body {
    font-family: "Poppins", sans-serif;
    background-color: rgba(216, 216, 228, 0.9);
}
.indicator {
    max-height: 50px;

}
